h1 {
    text-align: center;
}

.postscriptum {
    font-size: 10px;
    text-align: center;
}

.dapizda {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.prostotak {
    font-size: 16px;
}